<h1>Student#show</h1>
<p>Find me in app/views/student/show.html.erb</p>
<strong>Name:</strong>
<%= @student.name %><br>
<strong>Age:</strong>
<%= @student.age %><br>
<strong>Subject 1 marks:</strong>
<%= @student.mark1%><br>
<strong>Subject 2 marks:</strong>
<%= @student.mark2 %><br>
<strong>Subject 3 marks:</strong>
<%= @student.mark3 %><br>
<strong>Subject 4 marks:</strong>
<%= @student.mark4 %><br>
<strong>Subject 5 marks:</strong>
<%= @student.mark5 %><br>
<strong>Total:</strong>
<%= @student.mark1+@student.mark2+@student.mark3+@student.mark4+@student.mark5 %><br>